<!DOCTYPE html>
<html>
  <head>
    <title>Controle Financeiro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'registrar diário', new_registro_diario_path %>
    <%= yield %>
  </body>
</html>
